.btn {
	background-image: none;
	background-color: $color--bg2;
	text-transform: uppercase;
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	line-height: 2em;
	padding: .2em 2em 0;
	color: $color--base;
	letter-spacing: .1em;
}

.btn--control {
	background: transparent;
	box-shadow: none;
	-webkit-appearance: none;
	cursor: pointer;
	height: 42px;
	width: 42px;
	border: none;
	float: left;
	margin-right: 1rem;
	text-align: center;
	position: relative;
	&:hover {
		background: rgba(white, .2);
	}
	&.btn--play {
		span.icon--play {
			width: 0;
			height: 0;
			border-top: 9px solid transparent;
			border-bottom: 16px solid transparent;
			border-left: 23px solid $color--accent;
			border-right: none;
			padding: 0;
			transform: rotate(3deg);
			display: inline-block;
			position: absolute;
			left: 9px;
			top: 8px;
		}
		&:hover {
			span.icon--play {
				border-left-color: $color--accent2;
			}
		}
	}
	&.btn--stop {
		span.icon--stop {
			width: 23px;
			height: 0;
			border-top: none;
			border-bottom: 20px solid $color--accent;
			border-left: 2px solid transparent;
			border-right: 3px solid transparent;
			padding: 0;
			transform: rotate(4deg);
			display: inline-block;
			top: 9px;
			left: 9px;
			position: absolute;
		}
		&:hover {
			span.icon--stop {
				border-bottom-color: $color--accent2;
			}
		}
	}
	&.btn--shuffle {
		padding: 0;
		position: relative;
		display: inline-block;
		.arrow {
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-bottom: 6px solid transparent;
			border-left: 8px solid $color--accent;
			border-right: none;
			padding: 0;
			position: absolute;
			top: 9px;
			left: 24px;
			&:before {
				content: '';
				width: 16px;
				height: 3px;
				background: $color--accent;
				border: none;
				transform: rotate(1deg);
				position: absolute;
				left: -23px;
				top: 0;
			}
			&:nth-child(2) {
				transform: translateY(10px) translateX(-16px) rotate(184deg);
			}
		}
		&:hover {
			background: rgba(white, .2);
			span {
				border-left-color: $color--accent2;
				&:before {
					background: $color--accent2;
				}
			}
		}
	}


	&.btn--playStop {
		span.icon--play {
			width: 0;
			height: 0;
			border-top: 9px solid transparent;
			border-bottom: 16px solid transparent;
			border-left: 23px solid $color--accent;
			border-right: none;
			padding: 0;
			transform: rotate(3deg);
			display: inline-block;
			position: absolute;
			left: 9px;
			top: 8px;
		}
		&:hover {
			span.icon--play {
				border-left-color: $color--accent2;
			}
		}
		span.icon--stop {
			width: 23px;
			height: 0;
			border-top: none;
			border-bottom: 20px solid $color--accent;
			border-left: 2px solid transparent;
			border-right: 3px solid transparent;
			padding: 0;
			transform: rotate(4deg);
			display: inline-block;
			top: 9px;
			left: 9px;
			position: absolute;
		}
		&:hover {
			span.icon--stop {
				border-bottom-color: $color--accent2;
			}
		}
	}
}